{% extends 'kodius/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section>
        <div>


       <form method="POST">
           {% csrf_token %}
           <div class="form-row">
               <div class="form-group col-md-4">
                   {{ form.username|as_crispy_field }}
               </div>
           </div>
            <div class="form-row">
               <div class="form-group col-md-4">
                   {{ form.password|as_crispy_field }}
               </div>
           </div>
             <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
             </div>
            <div class="form-row">
               <div class="form-group col-md-4">
                   <button type="submit" class="btn btn-primary">Login</button>
               </div>
           </div>
       </form>



        </div>
        <div>
            <small>Don't have an account?</small>
            <a href="{% url 'register' %}">Register</a>
        </div>
    </section>
{% endblock %}




  </body>