{% extends 'kodius/base.html' %}

{% block content %}
    <section>
        <div>
            <form method="POST" action="">
                {% csrf_token %}
                <fieldset class="form-control">
                    {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Login</button>
                </fieldset>
            </form>
        </div>
        <div>
            <small>Don't have an account?</small>
            <a href="{% url 'register' %}">Register</a>
        </div>
    </section>
{% endblock %}